
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
src/core/const/api.json
src/pages/login/login-page-1.ts
src/tests/api/course
src/tests/api/resource
src/tests-data/resource-data.json
src/tests-data/course-data.json



